﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="app">

    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/angularjs/angular.js"></script>
    <script src="~/Scripts/chartjs/Chart.js"></script>
    <script src="~/Scripts/angular-chart.js/angular-chart.js"></script>
    <script src="~/Scripts/angularjs_controller/UrlController.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
